/* Aanpassingen aan de grootte en lay-out van afbeeldingen */
.photo img {
  width: auto; /* Laat de breedte zich automatisch aanpassen */
  height: 200px; /* Vaste hoogte voor alle afbeeldingen */
  object-fit: cover; /* Bedekt de container volledig zonder de verhouding te verliezen */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Algemene styling voor .photo-row */
.photo-row {
  display: flex;
  justify-content: center; /* Centreert de foto's in de rij */
  flex-wrap: wrap;
  align-items: flex-start; /* Zorgt ervoor dat items aan de bovenkant worden uitgelijnd */
  margin-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 8px;
}

/* Aanpassing voor .photo elementen */
.photo {
  display: flex;
  justify-content: center;
  flex: 1 1 calc(25% - 20px); /* Aangepast voor vier foto's naast elkaar met aangepaste basisgrootte */
  margin: 10px; /* Consistente marge tussen foto's */
}

/* Responsieve aanpassingen */
@media screen and (max-width: 768px) {
  .photo {
    flex-basis: 50%; /* Op middelgrote schermen twee foto's naast elkaar */
    margin: 10px 0; /* Aangepaste marges voor een betere weergave op middelgrote schermen */
  }
}

@media screen and (max-width: 480px) {
  .photo {
    flex-basis: 100%; /* Op kleinere schermen neemt elke foto de volledige breedte in */
    margin: 10px 0; /* Aangepaste marges voor een betere weergave op kleinere schermen */
  }
}

/* Stijl voor de shirt sectie */
.shirt-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centreert de titel en beschrijving boven en onder de foto's */
  margin-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 8px;
}

.shirt-section p {
  text-align: center;
}
